<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Here I will add a new challenge for the month of {{ month }}
    <br></br>

    <form method="POST">
        {% csrf_token %}
        <label name="month" value = {{ month }}>Month</label> : {{ month }} <br/>
        <label>Challenge</label> <input type="text" name="challenge"></input><br/>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>