<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    {% include "./shared/header.html" %}

    {{ message }}
    <ul>
        {% for month_names in months %}
        <li><a href={{month_names}}>{{month_names}}</a></li>
        <!-- <li><a href="february">February</a></li>
        <li><a href="march">March</a></li>
        <li><a href="april">April</a></li>
        <li><a href="may">May</a></li>
        <li><a href="june">June</a></li>
        <li><a href="july">July</a></li>
        <li><a href="august">August</a></li>
        <li><a href="september">September</a></li>
        <li><a href="october">October</a></li>
        <li><a href="november">November</a></li>
        <li><a href="december">December</a></li> -->
        {% endfor %}
    </ul>
</body>
</html>