<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {% include "./shared/header.html" %}
    <form method="POST">
        {% csrf_token %}
        <label> Month: {{ month }} </label>
        <br>
        <label>Challenge: </label><input type="text"></input>
        <button type="submit">Add</button>    
    </form>
    <br></br>
    Current challenges for {{ month }} are:
</body>
</html>